<div class="whole">
  <form action="" class="game-card">
    <div class="green card"  (click)="setUser('green')" [ngClass]="{'neon': newColor === 'green'}"></div>
    <div class="yellow card"   (click)="setUser('yellow')" [ngClass]="{'neon': newColor === 'yellow'}"></div>
    <div class="red card"  (click)="setUser('red')" [ngClass]="{'neon': newColor === 'red'}"></div>
    <div class="blue card"   (click)="setUser('blue')" [ngClass]="{'neon': newColor === 'blue'}"></div>

    <div class="pop-up" [ngClass]="{'show': !disable}">
      <h1>Game Over!!!</h1>
      <button (click)="retry()">Retry</button>
      <div>Your Score: {{score}}</div>
    </div>
    
  </form>
</div>
